@model ShSoft.Framework2015.AOP.Models.Entities.RunningLog

@{
    ViewBag.Title = "程序日志明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/PlainDetail.css" rel="stylesheet" />
}
<div id="dvMsg">
    <table id="tbDetail">
        <tr>
            <td class="tdTitle">命名空间：</td>
            <td class="tdContent"><div class="exText">@Model.Namespace</div></td>
        </tr>
        <tr>
            <td class="tdTitle">类名：</td>
            <td class="tdContent">
                <div class="exText">@Model.ClassName</div>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">方法名：</td>
            <td class="tdContent">
                <div class="exText">@Model.MethodName</div>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">方法类型：</td>
            <td class="tdContent">
                <div class="exText">@Model.MethodType</div>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">参数：</td>
            <td class="tdContent">
                <table class="easyui-datagrid" style="width: 860px;" data-options="data:@Model.ArgsJson,method:'get'">
                    <thead>
                        <tr>
                            <th data-options="field:'Name',width:210">参数名</th>
                            <th data-options="field:'Type',width:400">参数类型</th>
                            <th data-options="field:'Value',width:215">参数值</th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">返回值：</td>
            <td class="tdContent">@Model.ReturnValue</td>
        </tr>
        <tr>
            <td class="tdTitle">返回值类型：</td>
            <td class="tdContent">@Model.ReturnValueType</td>
        </tr>
        <tr>
            <td class="tdTitle">开始时间：</td>
            <td class="tdContent">@Model.StartTime.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
        </tr>
        <tr>
            <td class="tdTitle">结束时间：</td>
            <td class="tdContent">@Model.EndTime.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
        </tr>
    </table>
</div>