@model ShSoft.Framework2015.AOP.Models.Entities.ExceptionLog

@{
    ViewBag.Title = "异常日志明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/PlainDetail.css" rel="stylesheet" />
}
<div id="dvMsg">
    <table id="tbDetail">
        <tr>
            <td class="tdTitle">命名空间：</td>
            <td class="tdContent"><div class="exText">@Model.Namespace</div></td>
        </tr>
        <tr>
            <td class="tdTitle">类名：</td>
            <td class="tdContent"> <div class="exText">@Model.ClassName</div></td>
        </tr>
        <tr>
            <td class="tdTitle">方法名：</td>
            <td class="tdContent">
                <div class="exText">@Model.MethodName</div>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">异常类型：</td>
            <td class="tdContent">
                <div class="exText">@Model.ExceptionType</div>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">方法参数：</td>
            <td class="tdContent">
                <table class="easyui-datagrid" style="width: 860px;" data-options="data:@Model.ArgsJson,method:'get'">
                    <thead>
                        <tr>
                            <th data-options="field:'Name',width:210">参数名</th>
                            <th data-options="field:'Type',width:400">参数类型</th>
                            <th data-options="field:'Value',width:215">参数值</th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td class="tdTitle">异常消息：</td>
            <td class="tdContent">@Model.ExceptionMessage</td>
        </tr>
        <tr>
            <td class="tdTitle">异常明细：</td>
            <td class="tdContent">@Model.ExceptionInfo</td>
        </tr>
        <tr>
            <td class="tdTitle">内部异常：</td>
            <td class="tdContent">
                <div class="exText">@Model.InnerException</div>
            </td>
        </tr>
    </table>
</div>